<!doctype html>
<html lang="fr">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Malea Coiffure</title>
    <link rel="stylesheet" href="../css/sauvegarde.css" type="text/css" />
    <script src="https://kit.fontawesome.com/65699a0028.js" crossorigin="anonymous"></script>
</head>
<body>

<!--HEADER-->  
    <header class="header">
<!--NAVIGATION-->
   <nav>
       <div id="logo"><img src="../assets/img/malea.png"width="110" height="110"></div>
 
       <ul>
           <li class="on"><a href="#">Accueil</a></li>
           <li><a href="#">Réalisations</a></li>
           <li><a href="#">Tarifs</a></li>
           <li><a href="#">Contact</a></li>
       </ul>
       <!--Burger Menu-->
    <div id="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
   </nav>
      <!--Video-->
        <video autoplay loop src="../assets/video/HairMoveLIGHT.mp4" id="video"></video>
        <!--BOUTON-->
        <button id="btn"><img src="../assets/img/pause.png" alt="bouton play-pause" class="bouton"/></button>
   </header>

 <!--MAIN-->
<main class="main">
    <div class="titreMain">
        <h1>Savoir-faire</h1>
    </div>
<div class="box">
    <!--SLIDER -->    
    <div id="slider" class="slider">
        <img src="../assets/img/anglaises.jpg" class="image" alt="fer à boucler">
        <img src="../assets/img/baby.jpg" class="image" alt="Coiffure bébé">
        <img src="../assets/img/coif_mariee.jpg" class="image" alt="coiffure mariage">
        <img src="../assets/img/boy.jpg" class="image" alt="Coiffure petit gaçon">
        <img src="../assets/img/CapVerte.jpg" class="image" alt="Coiffure jeune femme blonde">
        <img src="../assets/img/f_senior.jpg" class="image" alt="Femme mature">
        <img src="../assets/img/generation1.jpg" class="image" alt="Génération">
        <img src="../assets/img/hipster2.jpg" class="image"alt="coiffure homme hipster">

    <!-- ajout des chevrons droite et gauche-->
        <img src="../assets/icones/chevron-droite.png" id="droite" width="30px" height="30px">
        <img src="../assets/icones/chevron-gauche.png" id="gauche" width="30px" height="30px">
    
        <!-- contrôle du défilement des images-->
        <div id="controle"></div>
</div>

<div class="container1"> 
    <div class="savoirFaire">   
       <h2>Ma spécialité :</h2>
           <p>La beauté simple, naturelle, fraîche et élégante.Adaptée au monde et à la mode d’aujourd’hui, nos coiffures prêt-à-porter se coiffent aussi facilement au quotidien que pour sortir.</p>
           
       <h2>Mon savoir-faire :</h2>
           <p>Spécialisés dans la beauté du cheveu, l’expérience de l’équipe en couleurs naturelles et en soins vous offrira un travail contemporain et ultra personnalisé.</p>
   </div>
</div>
</div> 
  
<div class="satisfaction">
    <p>Ma plus grande satisfaction ? Votre sourire !</p>
    
</div>
    <div class="container2">
        <div class="main">
                <div class="titreMain">
                    <h1>Notre actualité</h1>
                </div>

                <div class="box">
                    <div class="reduction"> 
                        
                        <article class="etudiants"> 
                            <p> Jusqu'à -25% pour les étudiants !</p>  
                            <p>Votre salon Coiffure Malea vous propose des tarifs étudiants tout au long de l'année.</p>
                            <p>Vous êtes étudiant, étudiante ? votre budget mensuel est limité ? Vous êtes au bon endroit.</p>
                            <p>Venez prendre soin de vous et de vous offrir une coupe de cheveux tendance et de qualité.Malea coiffure a mis en place,
                                pour vous étudiants (es), un tarif spécial afin de vous chouchouter à prix tout doux.</p>
                            <a href="" class="plus">En savoir plus</a>
                        </article>
                    </div>
                    <div class="prixReduc">
                        <img src="" width="200px" height="200px" class="image" alt=" bullePrix jeune">
                    </div>

                    <div class="ado">
                        <img src="" width="362px" height="490" class="image" alt="Ado avec skateboard">
                    </div>
                </div>
        </div>
                   
        <div class="partenaires">
            <div class="titreMain">
                <h1>Partenaires coiffure</h1>
            </div>
        </div>
        <div class="Logopart">
			<div class="cards">
                <a href="#" class="partners"><img src="../assets/img/RevlonLogo.jpg" alt="Logo de Revlon"></a>
                <a href="#" class="partners"><img src="../assets/img/RevlonLogo.jpg" alt="Logo de Revlon"></a>
                <a href="#" class="partners"><img src="../assets/img/RevlonLogo.jpg" alt="Logo de Revlon"></a>
              
            </div>	
        </div>


       </div>

       <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10465.112628316372!2d2.2237906592163057!3d49.024316452782415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2819ce3ee4e8557!2sMalea%20coiffure!5e0!3m2!1sfr!2sfr!4v1669447628197!5m2!1sfr!2sfr" width="600" height="450"></iframe>
    </div>

</main>

 <!--FOOTER-->
     <footer>
        <div class="footer">
            <div class="footer-col">
                <h3>Nous trouver</h3>
                <div class="adresse">
                    <p>Malea Coiffure</p>
                    <p>
                        <a href="accueil.html#map"><i class="fa-solid fa-location-dot fa-2xl" class="icone"></i>
                        <span>139 bis rue de Paris</span>
                        <span class="space">      95150 Taverny</span>
                        </a>
                    </p>
                    <p>
                        <i class="fa-solid fa-phone">
                        </i>
                         : 01.39.95.30.41
                    </p>
                </div>
            </div>
            <div class="footer-col">
                <h3>Horaires</h3>
                <div>
                    <p>mardi : 9h00 - 12h00 et 14h00 - 19h00</p>
                    <p>mercredi : 9h00 - 12h00 et 14h00 - 19h00</p>
                    <p>jeudi : 9h00 - 12h00 et 14h00 - 19h00</p>
                    <p>vendredi : 9h00 - 12h00 et 14h00 - 20h00</p>
                    <p>samedi : 9h00 - 12h00 et 14h00 - 19h00</p>
                </div>
            </div>
            <div class="footer-col">
                <h3>Avis clients</h3>
            </div>
            <div class="footer-col">
                <h3>Nous contacter</h3>
                <p>
                    <a href="contact.html" target="_blank" class="reseaux"><i class="fa-solid fa-envelope"></i></a>
                    <a href="https://fr-fr.facebook.com/people/Mal%C3%A9a-Coiffure/100068535660538"/ target="_blank" class="reseaux"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/maleacoiffure_off/?hl=fr" target="_blank" class="reseaux"><i class="fa-brands fa-instagram" ></i></a>
                </p>
            </div>
        </div>
    </footer>
   
 <!--JAVASCRIPT-->
 <script type="text/javascript" src="../js/script.1 copy.js"></script>

</body>
</html