<!doctype html>
<html lang="fr">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Malea Coiffure</title>
    <link rel="stylesheet" href="../css/style copy.css" type="text/css" />
</head>
<body>
    <header>
<!--NAVIGATION-->
   <nav>
      
       <div id="logo"><img src="../assets/img/malea.png"width="110" height="110"></div>
 
       <ul>
           <li class="on"><a href="#">Connexion</a></li>
           <li><a href="#">Inscription</a></li>
        
       </ul>
       <!--BURGER MENU-->
    <div id="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
   </nav>
      <!--VIDEO-->
        <video autoplay loop src="../assets/video/HairMoveLIGHT.mp4" id="video"></video>
        <!--BOUTON-->
        <button id="btn"><img src="../assets/img/pause.png" alt="bouton play-pause" class="bouton"/></button>
   </header>
 <main>
         <section class="main">
             <h1>Savoir-faire</h1>
             <h3>Ma spécialité :</h3>
             
             <p>La beauté simple, naturelle, fraîche et élégante.Adaptée au monde et à la mode d’aujourd’hui, nos coiffures prêt-à-porter se coiffent aussi facilement au quotidien que pour sortir.</p>
             
             <h3>Mon savoir-faire :</h3>
             <p>Spécialisés dans la beauté du cheveu, l’expérience de l’équipe en couleurs naturelles et en soins vous offrira un travail contemporain et ultra personnalisé.</p>

            <h1>Ma plus grande satisfaction ? Votre sourire !</h1>

    </section>

       
       
   </main>


   <footer></footer>
   

 <!--JAVASCRIPT-->
 <script type="text/javascript" src="../js/script.1.js"></script>

</body>
</html