<!doctype html>
<html lang="fr">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Malea Coiffure</title>
    <!--icone permettant d'identifier l'onglet avec un logo-->
    <link rel="icon" href="../assets/img/malea.png" type ="image/png">
    <script src="https://kit.fontawesome.com/65699a0028.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
    <link rel="stylesheet" href="../css/realcopycopy.css" type="text/css" />
  
</head>
<body >

<!--HEADER-->  
<header>
    <!--NAVIGATION-->
            <div class="header-logo">
                Malea Coiffure<span>.</span>
            </div>
            <div class="header-reseaux">
                <a title ="Suivez-moi sur Facebook" href="https://www.facebook.com/people/Malea-coiffure/100069930256868/?sk=photos"><i class="fa-brands fa-facebook"></i></a>
                <a title ="Suivez-moi sur Instagram" href="https://www.instagram.com/maleacoiffure_off/"><i class="fa-brands fa-instagram"></i></a>
                <a class="mode" title ="Changer le mode" href="#"><i class='bx bx-moon'></i></a>
            </div>
    </header> 

    <main>
      <div class="hero">
        <h1 class="main-title">Votre salon de coiffure</h1>
        
        <a href="#prestations" class="hero-link hero-link-1">
          <span>Prestations</span>
        </a>
        <a href="#contact" class="hero-link hero-link-2">
          <span>Contact</span>
        </a>
      </div>

 <!-- About section -->

  <section class="about" id="about">
    <h2 class="section-title">
      <span>Un style intemporel</span>

    </h2>
    <p class="section-subtitle">Patience et expertise à votre service</p>

    <div class="grilleTarifs">
     
      <table class="table">
    
    <tbody>
      <tr>
        <th scope="row"> </th>
        <td>Shampoing + brushing</td>
        <td>22 €</td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
      
      
      </tr>
      <tr>
        <th scope="row"> </th>
        <td>Shampoing + coupe  + brushing</td>
        <td>31 €</td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
       
      </tr>
      <tr>
        <th scope="row"> </th>
        <td>Shampoing + soin + coupe + brushing</td>
        <td>55 €</td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
      </tr>
         <tr>
        <th scope="row">  </th>
        <td>Shampoing +  coupe d'entretien + permanente + brushing</td>
        <td>63 €</td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
      </tr>
         <tr>
        <th scope="row"> </th>
        <td>Shampoing +  coupe d'entretien + permanente + brushing</td>
        <td>61 €</td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
      </tr>
         <tr>
        <th scope="row"> </th>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
      </tr>
         <tr>
        <th scope="row"</th>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
      </tr>
         <tr>
        <th scope="row">  </th>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
      </tr>
         <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
      </tr>   <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-warning">Choisir</button> </td>
  
    </tbody>
  </table>
    </div>
    </section>

  </main>
  <footer>
      <span>FOOTER A COMPLETER.</span>
  </footer>


 <!--JAVASCRIPT-->
 <!--Jquery-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <!--fancy-->
 <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
 <script type="text/javascript" src="../js/appcopy.js"></script>


</body>

</html