<!doctype html>
<html lang="fr">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réalisations Malea coiffure</title>
    <!--icone permettant d'identifier l'onglet-->
    <link rel="icon" href="../assets/img/malea.png" type ="image/png">
    <script src="https://kit.fontawesome.com/65699a0028.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
    <link rel="stylesheet" href="../css/styleMalea.css" type="text/css" />
    <link rel="stylesheet" href="../css/normalize.css" type="text/css" />
</head>

<body >

    <div class="overlay"></div>

<!--HEADER-->  
     <header>
<!--NAVIGATION-->

        <div class="header-logo">
            Malea coiffure<span>.</span>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="accueil3.html">Accueil</a></li>
                <li><a href="realisations2">Réalisations</a></li>
                <li><a href="tarifs.html">Tarifs</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="header-reseaux">
            <a title ="Suivez-moi sur Facebook" href="https://www.facebook.com/people/Malea-coiffure/100069930256868/?sk=photos"><i class="fa-brands fa-facebook"></i></a>
            <a title ="Suivez-moi sur Instagram" href="https://www.instagram.com/maleacoiffure_off/"><i class="fa-brands fa-instagram"></i></a>
            <a class="mode" title ="Changer le mode" href="#"><i class='bx bx-moon'></i></a>
        </div>
        <a class="menu_burger" href="#">
            <i class="fa-solid fa-bars"></i>
        </a>
</header>

    <div class="image_bouclette"></div>

   <section class="page-content">
        <div class="container">
            <h1><span>Découvrez le portfolio</span> <span>des réalisations de</span> <span class="pink">Malea coiffure.</span></h1>
            <p>De la couleur jusqu’à la coupe enfant et de la permanente au fidèle dégradé, retrouvez la coiffure glamour que vous recherchez pour tous les jours ou pour tout évènement.</p>
        </div>
    </section>
    
    <section class="portfolio">
        <div class="container">
            <div class="filtres">  
                <a class="active" href="#all">Tous</a>
                <a href="#courts">Courts</a>
                <a href="#longs">longs</a>
                <a href="#boucles">boucles</a>
                <a href="#tresses">Tresses</a>
                <a href="#evenements">Événements</a>
            </div>
            <div class="grid">   
                <a data-filtre="boucles" data-fancybox="boucles" data-caption="Cheveux longs et bouclés" href="../assets/img/folio/blondBoucles1.png"  class="projet"> <!--data-filtre permet de classer par catégorie-->
                    <div class="projet-nom">Cheveux longs et bouclés</div>
                    <img src="../assets/img/folio/blondBoucles1.png" alt="Cheveux long blonds et bouclés">
                </a>
                <a  data-filtre="boucles" data-fancybox="boucles" data-caption="Cheveux longs et bouclés" href="../assets/img/folio/blondBoucles1b.png" class="projet">
                    <div class="projet-nom">Cheveux longs blonds et bouclés</div>
                    <img src="../assets/img/folio/blondBoucles1b.png" alt="Cheveux long bouclés">
                </a>
                <a data-filtre="longs" data-fancybox="longs" data-caption="Cheveux longs et dégradés" href="../assets/img/folio/blonddegrade.png"  class="projet">
                    <div class="projet-nom">Cheveux longs blonds et dégradés</div>
                    <img src="../assets/img/folio/blonddegrade.png" alt="Cheveux longs et dégradés">
                </a>
                <a data-filtre="boucles" data-fancybox="boucles" data-caption="Cheveux longs et bouclés" href="../assets/img/folio/boucles1.png" class="projet">
                    <div class="projet-nom">Cheveux longs bruns et bouclés</div>
                <img src="../assets/img/folio/boucles1.png" alt="Cheveux longs et bouclés">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="Cheveux au carré" href="../assets/img/folio/carre.png" class="projet"><div class="projet-nom">Cheveux au carré</div><img src="../assets/img/folio/carre.png" alt="Cheveux au carré"></a>

                <a data-filtre="courts" data-fancybox="courts" data-caption="Cheveux courts au carré" href="../assets/img/folio/carreblond.png"" class="projet">
                 <div class="projet-nom">Cheveux courts au carré</div>
                  <img src="../assets/img/folio/carreblond.png" alt="Cheveux courts blonds au carré">
                 </a>
                <a data-filtre="evenements" data-fancybox="evenements" data-caption="Chignon bouclés" href="../assets/img/folio/chignonBoucles.png" class="projet">
                    <div class="projet-nom">Chignon bouclés</div>
                    <img src="../assets/img/folio/chignonBoucles.png" alt="Chignon bouclés">
                </a>
                <a data-filtre="evenements" data-fancybox="evenements" data-caption="Chignon élaboré" href="../assets/img/folio/chignonMariage.png" class="projet">
                    <div class="projet-nom">Chignon élaboré</div>
                    <img src="../assets/img/folio/chignonMariage.png" alt="Chignon élaboré">
                </a>
                <a data-filtre="evenements" data-fancybox="evenements" data-caption="Chignon tresse" href="../assets/img/folio/chignonTresses.png" class="projet">
                    <div class="projet-nom">Chignon tresse</div>
                     <img src="../assets/img/folio/chignonTresses.png" alt="Chignon tresse">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="Coupe garçonne" href="../assets/img/folio/court1.png"  class="projet">
                    <div class="projet-nom">Coupe garçonne</div>
                    <img src="../assets/img/folio/court1.png" alt="Coupe gaçonne">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="cheveux courts et dégradés" href="../assets/img/folio/court2.png" class="projet">
                    <div class="projet-nom">cheveux courts et dégradés</div>
                    <img src="../assets/img/folio/court2.png" alt="cheveux courts et dégradés">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="Dégradé court avec balayage" href="../assets/img/folio/court3.png" class="projet">
                    <div class="projet-nom">Dégradé court avec balayage</div>
                    <img src="../assets/img/folio/court3.png" alt="Dégradé court avec balayage">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="Dégradé court" href="../assets/img/folio/court4.png" class="projet">
                    <img src="../assets/img/folio/court4.png" alt="Dégradé court">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="Dégradé court" href="../assets/img/folio/court5.png" class="projet">
                    <img src="../assets/img/folio/court5.png" alt="Dégradé court">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="Dégradé court" href="../assets/img/folio/court6.png" class="projet">
                    <img src="../assets/img/folio/court6.png" alt="Dégradé court">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="Coupe garçon" href="../assets/img/folio/garcon1.png" class="projet">
                     <img src="../assets/img/folio/garcon1.png" alt="Coupe garçon">
                </a>
                <a data-filtre="courts" data-fancybox="courts" data-caption="Coupe garçon" href="../assets/img/folio/garcon1bis.png" class="projet">
                    <img src="../assets/img/folio/garcon1bis.png" alt="Coupe garçon">
                </a>
                <a data-filtre="longs" data-fancybox="longs" data-caption="Cheveux longs balayage" href="../assets/img/folio/longBalayage.png" class="projet">
                     <img src="../assets/img/folio/longBalayage.png" alt="Cheuveux longs balayage">
                </a>
                <a data-filtre="longs" data-fancybox="longs" data-caption="Cheveux longs dégradés" href="../assets/img/folio/longBlond1.png" class="projet">
                    <img src="../assets/img/folio/longBlond1.png" alt="Cheveux longs dégradés">
                </a>
                <a data-filtre="evenements" data-fancybox="evenements" data-caption="Tresse Boheme" href="../assets/img/folio/mariage1.png" class="projet">
                   <img src="../assets/img/folio/mariage1.png" alt="Tresse Boheme">
                </a>
                <a data-filtre="evenements" data-fancybox="evenements" data-caption="Coiffage Mariée" href="../assets/img/folio/mariage2.png" class="projet">
                     <img src="../assets/img/folio/mariage2.png" alt="Coiffage Mariée">
                </a>
                <a data-filtre="evenements" data-fancybox="evenements" data-caption="Coiffage élaborée" href="../assets/img/folio/mariage3.png" class="projet">
                    <img src="../assets/img/folio/mariage3.png" alt="Coiffage élaboré">
                </a>
                <a data-filtre="evenements" data-fancybox="evenements" data-caption="Chignon Mariée" href="../assets/img/folio/mariage4.png" class="projet">
                    <img src="../assets/img/folio/mariage4.png" alt="Chignon Mariée">
                </a>
                <a data-filtre="tresses" data-fancybox="tresses" data-caption="Jolie tresse" href="../assets/img/folio/tresse.png" class="projet">
                    <img src="../assets/img/folio/tresse.png" alt="Jolie tresse">
                </a>
            </div>
        </div>
    </section>

    <section class="contacts">
        <p class="pub"><span>Vous en voulez encore plus ? Venez visiter</span></p>
        <div class="zoomBlog"> 
            <button class="btnBlog"><a class="blog" href="maleaBlog.html" target="_blank">Mon Blog</a></button>
            </div>
        
        
    </section>

<!--FOOTER-->
<footer>
    <!-- Contact  -->
    <section id="contact" class="contact">
        <h2 class="section-title">
          <span>Ou nous trouver</span>
          
        </h2>
        <p class="section-subtitle">
          Au centre de Taverny
        </p>
        <div class="contact-content container">
          <div class="addresses">
                <div class="address-block">
                    <p>139 rue de Paris, 95150 Taverny</p>
                     <p>01 39 95 30 41</p>
                 </div>
                 <div class="address-block">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10465.112628316372!2d2.2237906592163057!3d49.024316452782415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2819ce3ee4e8557!2sMalea%20coiffure!5e0!3m2!1sfr!2sfr!4v1669447628197!5m2!1sfr!2sfr" width="600" height="450"></iframe>
                </div>
          </div>
          <div class="schedule">
            <h3 class="heading-h3">Horaires d'ouverture</h3>
            <div class="schedule-table">
              <p><span>Lundi</span> <span>Fermé</span></p>
              <p><span>Mardi</span> <span>09:00 - 19:30</span></p>
              <p><span>Mercredi</span> <span>09:00 - 19:30</span></p>
              <p><span>Jeudi</span> <span>09:00 - 19:30</span></p>
              <p><span>Vendredi</span> <span>09:00 - 20:00</span></p>
              <p><span>Samedi</span> <span>09:30 - 19:30</span></p>
              <p><span>Dimanche</span> <span>Fermé</span></p>
            </div>
          </div>
        </div>
    </section>
    <div class="footer1">
        <h2 class="keepincontact"><span>Restons en contact</span></h2>
        </div>
   <div class="footer2">
        <div class="footerReseau"> <a class="facebook" title ="Suivez-moi sur Facebook" href="https://www.facebook.com/people/Malea-coiffure/100069930256868/?sk=photos">
            <i class="fa-brands fa-facebook-f"></i></a>
        </div>
        <div class="footerReseau" > <a class="insta" title ="Suivez-moi sur Instagram" href="https://www.instagram.com/maleacoiffure_off/">
            <i class="fa-brands fa-instagram"></i></a>
        </div>
            <div class="footerReseau" > <a class="mail" title ="Ecrivez-moi un mail" href="mailto:sambaum@free.fr">
                <i class="fa-solid fa-envelope"></i></a>
            </div>
    </div>
   
</footer>



 <!--JAVASCRIPT-->
 <!--Jquery-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <!--fancy-->
 <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
 <script type="text/javascript" src="../js/appcopy.js"></script>


</body>
</html