@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Yeseva+One&display=swap');


/*********************************************************************************
STYLE PAGE REALISATIONS
*********************************************************************************/

/**************************
VARIABLES
**************************/
/*on intègre  les paramètres dans une variable pour pouvoir les appeler plus tard */
:root{
    --blue-color: #041821;
    --green-color: #1BD79E;
    --green-color: hsl(162, 78%, 92%); /*hsl pour mettre de la transparence*/
    --pink-color : rgba(179, 55, 113,1.0);
    --pink2-color : rgba(163, 50, 103, 0.171);
    --white-color : #fff;
    --grey-color : #808080;
    --grey2-color : #E5E5E5;
    --header-height : 120px;
    
}

/**************************
GLOBAL
**************************/
body{
    font-family : 'Montserrat', sans-serif;
    font-size : 1em; /*1em correspond à 16px*/
    font-weight: 300; /*correspond au plus light*/
    background-color: var(--white-color);
    color : var(--grey-color);
    overflow-x: hidden; /* pour éviter de dépasser en horizontal on cache en "X"*/
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color : var(--blue-color);
    transition : color 0.3s; /*effet de hover uniquement sur la couleur*/
}

/*******Container*******/
.container h1{
    font-family: 'Yeseva One', serif;
    color : var(--blue-color);
    font-weight: normal;
    font-size: 32px;
    line-height: 1.3em; /* environ 20px*/
    margin : 0 0 0.5em 0;
    padding : 0;
}

.container h1 span.pink{
    color: var(--pink-color);
    font-weight: bold;
}

.container{
   padding: 0, 20px;
    max-width: 1100px;
    margin: 0 auto;
}

/*.container p, .contact p{
/*margin : auto;
padding : 0;
line-height: 1.5em;
}*/

p{
  margin : 0;
  padding : 0;
  line-height: 1.5em;
  font-size: 18px;
  }
  

/*********************************************************************************
HEADER PAGE REALISATIONS
*********************************************************************************/

header{
  position: fixed; 
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%; /* toujours mettre une width quand on a une position fixed pour que cela foncitionne*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction : column;
  border-bottom : 1px solid #E5E5E5;
  height: 120px;
  background: rgba(255,255,255,0.95);
  backdrop-filter:blur(5px);  
}

.header-logo{
    font-size: 24px;
    color: var(--blue-color);
    font-family: 'Yeseva One', serif;
    margin : 0 0 10px 0;
    cursor: default;
 }

.header-logo span{
    color: var(--pink-color);
}

/*Barre de navigation*/
#menu ul{
    margin: 0px;
    padding: 0;
    list-style-type: none;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

/*les pictos*/
.header-reseaux{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-reseaux a {
    display: block;
    margin: 0 5px;
}

.header-reseaux a:hover{
    color: var(--pink-color);
}

/*on agrandit les pictos*/
.header-reseaux i{
    font-size: 20px;
}

/*on décale le picto moon pour le séparer des pictos facebook et instagram*/
.header-reseaux a.mode{
    margin: 0 0 0 30px;
}
/*******Image de fond deco page réalisations*******/

.image_bouclette{
    position: relative;
    z-index: 9;
    top: 70px;
    right: 0;
    left: 0;
    min-height: 450px;
    width: 100%;
    background-image: url('../assets/img/boucletteLight.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pink-color);
    background-position: center;
}

/**************************
PAGE CONTENT
**************************/

/*on utilise la fonction calc pour ajouter 20px à la variable height*/
.page-content{
    margin: calc(var(--header-height) + 20px) 0 0 0;
}
/**************************
PORTFOLIO
**************************/
.portfolio{
    margin: 1.5em 0 0 0;
}
.filtres{
    display:flex;
    justify-content: flex-start ; /*seront toujours calés à gauche*/
    align-items: center;
    margin: 0 0 15px 0;
}

.filtres a{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    margin: 0 5px;
    padding: 5px 8px;
}

.filtres a.active {
    color:var(--pink-color);
    background:var(--pink2-color);
    font-weight: 600;
}
/* le mot "tous" du filtre (1er enfant de la class filtres) étant légèrement décalé on modifie la marge*/
.filtres a:first-child{
    margin-left: 0;

}

.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr); /*on divise en 3 colonnes*/
    grid-gap : 15px; /*on espace avec des goutières*/
}

.projet{
    display:block
}

/*on cible l'image*/
.projet img{
    display: block; /*astuce pour enlever l'espace sous l'image non nécessaire*/
    width:100%;
    height: 100%;
    object-fit: cover; /*pour maintenir son ratio d'affichage tout en remplissant toute la boîte de contenu. La taille réelle est calculée pour couvrir la zone décrite par la hauteur et la largeur de l'élément. Si les ratios de l'objet et de la boîte ne correspondent pas, le contenu remplacé sera rogné.*/
    border-radius: 5px;
    aspect-ratio: 1/1; /*Les calculs de tailles impliquant un ratio d'affichage intrinsèque fonctionnent toujours avec les dimensions de la boîte de contenu spécifiées par box-sizing.*/
}

.projet-nom{
    display:none; /*pas besoin d'afficher le nom du projet en version mobile*/
}

/**************************
SECTION CONTACT
**************************/

.contacts{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column; /*pour éviter que tous les éléments se mettent côte à côte horizontalement*/
    text-align:center;
    height: var(--header-height);
    cursor:default;
}

.pub, .adresse{
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.pub{
    color:var(--pink-color);
    font-weight: 800;
}
.adresse{
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 5px 0;
    color:var(--blue-color);
}

.adresse > span{
    display: block;
}
/**************************
DARK MODE
**************************/
body[data-theme="darkmode"] {
    --blue-color: #fff;
    --white-color : #041821;
}
body[data-theme="darkmode"] header {
    background: var(--white-color);
    border-color: rgba(179, 55, 113,1.0);
}
body[data-theme="darkmode"] .filtres a.active {
    background: #fff;
}


/**************************
PAGE CONTACT
**************************/

.image_fleurie{
    position: absolute;
    z-index: 9;
    top: 80px;
    right: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-image: url('../assets/img/jf_fleurie_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pink-color);
    background-position: center;
}

/*********************
Formulaire
*********************/
form{
    /*font-size: 14px;*/
    width: 70%;
    max-width: 920px;
    min-width: 250px;
    margin: auto;
    padding-top: 30px;
}

fieldset{
    max-width: 900px;
    min-width: 230px;
    border: 2.3px solid rgb(223, 45, 128);
    border-radius: 7px;
    background-color: rgb(236, 234, 234);
    margin-bottom: 30px;
    box-shadow: 10px 7px 7px #2e2b2d67;
}

legend{
    color: rgb(236, 234, 234);
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.par_formulaire{
    display: flex;
    justify-content: flex-start;
    
 }

 label{
    max-width: 250px;
    min-width: 150px;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    color: #6F1E51;
 }

 /*************************************
mise en forme des inputs et textarea du formulaire
*************************************/
input[type="text"], input[type="email"], input[type="tel"]{
    max-width: 200px;
    min-width: 150px;
    background-color: #f8f4f4;
    border: 1.9px solid rgb(223, 45, 128);
    padding: 3px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, textarea:hover{
    background-color: #fff;
    border: 2px solid rgb(223, 19, 87);
    transition: all 0.2s ease;
}

textarea{
    max-width: 550px;
    min-width: 150px;
    background-color:  #f3f3f3;
    border: 1px solid rgb(223, 45, 128);
    padding: 3px;
}

input[type="submit"]{
    background-color: #6F1E51;
    padding: 10px;
    border: 2px solid rgb(223, 45, 128);
    border-radius: 30px;
    color: whitesmoke;
    margin: auto;
    box-shadow: black 0.1em 0.1em 0.9em;
}

input[type="submit"]:hover{
    background-color: #f3f3f3;
    color: #6F1E51;
    font-weight: 700;
    border: 2px solid rgb(223, 19, 87);
}

.btn_envoyer{
    width: 80%;
    margin: 0 auto;
    padding: 0 50%;
}


/**************************
RESPONSIVE
**************************/

/**********************
Ajustement mobile first
***********************/

@media (max-width:767px) {
    /*les pictos*/
    .header-reseaux{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 45px;
        left: 5px;
    }

    .header-reseaux a.mode{
        margin: 0 0 0 5px;
    }

    .header-logo{
        margin-left: 120px;
        margin-right: 60px;
    }

    /*Barre de navigation*/
    #menu{
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background: var(--pink-color);
    }

    #menu ul li a{
        display: block;
        padding: 8px 20px;
    }
    /*on différencie les liens du menu*/
    #menu ul li:nth-child(even){
        background: rgba(0,0,0,0.2);
    }
    /*le focus permet de que le lien est cliqué*/
    #menu ul li a:focus{
        color: #fff;
        background: rgba(0,0,0,0.4);
    }

    /*on insère le menu burger dans le header*/
    .menu_burger{
        position: absolute;
        top: 35px;
        right: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

    .menu_burger i{/*on stylise l'icône*/
        font-size: 20px;
        color: var(--pink-color);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    }

    .image_bouclette, .image_fleurie{
        top: 120px;
        height: 35%;
        
    }

    .page-content{
        margin: calc(var(--header-height) + 20px) 0 0 0;
    }

    .page-content p{
        width: 100%;
        text-align: justify;
    }

    /*on apporte une transparence sur le contenu de la page caché sous le menu mis en avant*/
    .overlay{
        display: none;
        position: fixed;
        z-index: 9;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
    }

    /*Filtres : seul le filtre défile de gauche à droite, la page quant à elle reste cadrée*/
    .filtres{
        overflow-x: scroll;
    }

    .filtres::-webkit-scrollbar{
        display: none; /*astuce pour camoufler le trait horizontal s'affichant en scrollant sur mobile*/
    }

    .contacts{
        margin-top: 50px;
    }
/*********Page Contact********/
/*section formulaire*/
    .container h1 {
        padding-top: 10px;
        font-size: 24px;
    }

    .container p{
        font-size: 14px;
        /*text-align: justify;*/
    }

    .par_formulaire{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: auto;
    }
 
    label{
        font-size: 14px;
        width: 80px;
        text-align: left;
        /*padding-left: 0;*/
    }


    textarea{
        width: 90%;
        display: block;
        margin-left: auto;
         /*margin-right: auto;*/
    }

    .btn_envoyer{
        padding: 0 25%;
    }
}

/**********************
Version Tablette
***********************/

@media screen and (min-width:768px) and (max-width: 1199px) {

    .image_bouclette{
        left: 0;
        min-height: 550px;
    }
   
    /*on retourche le container pour ipad version paysage*/
    .container{
        max-width: 1024px;
        margin: auto;
    }

    /*.container h1{
        font-size: 32px;  
    }*/


    /*on rajoute deux colonnes de photso*/
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
    
    
}

@media screen and (min-width:768px) {
    header{
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-logo{
        /*margin: 0 0 0px 30px;0px MODIF*/
        margin-left: 10px;
        margin-top: 5px;
    }

    #menu{
        text-align: center;
    }

    #menu ul li{
        display: inline-block;
        line-height: 50px;
    }

    #menu ul li a{
        display: block;
        padding: 7px;   
    }

    #menu ul li a:hover{
        background: var(--pink-color);
        color: #fff;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
    }

    /*#menu ul li.active a{
        background: var(--pink-color);
        cursor: default;
        color: #fff;
    }OPTIONNEL car fixe la page sélectionnée*/

    .header-reseaux{
        margin :0 30px 0 0;
    }

    /*on masque le menu burger*/
    .menu_burger{
        display: none;
    }

    .page-content p{
        width: 100%;
        text-align: justify;
    }

    .container {
        padding:0;
    }

    .container h1 {
        font-size: 32px;
    }
    
    .contacts{
        height: 160px;
    }

/*on centre les liens filtres (tous, court, long etc)*/
    .filtres{
        justify-content: center;
    }

    p{
        font-size: 24px;
    }

/*les span situés dans le titre h1 se mettent à la ligne
    h1 span{
        display: block;
    }*/

    .pink{
        display: block; /*MODIF pink a la ligne en deskt+tabl.*/
    }


    form{
        /*font-size: 14px;*/
        width: 70%;
    }
    

    legend {
        font-size: 2em;
    }

    label{
        font-size: 24px;
        margin-right: 30px;
        width: 250px;
    }
 

    /*Section formulaire*/
    /*input[type="text"], input[type="email"], input[type="tel"]{
        width: 200px;
    }*/

    textarea{
        width: 350px;
        margin-left: 30%;
    }

    .btn_envoyer {
        width: 80%;
        margin: 0 auto;
        padding: 0 35%;
    }
   

/**********************
On ajuste le container
***********************/

@media screen and (min-width:1200px) {

    .image_bouclette{
        left: 0;
        height: 100%;
        min-height: 650px;
    }
    
    .image_fleurie {
        height: 100%;
    }

    .page-content{
        margin: calc(var(--header-height) + 20px) 0 0 0;
    }

    .page-content p{
        width: 100%;
    }

    .container {
        margin: auto;
        width: 1185px;
    }

    .container h1{
        font-size: 48px;
    }

    /*on distribue les photso sur 4 colonnes*/
    .grid{
        grid: auto / repeat(4, 1fr);
    }

    .projet{
        overflow: hidden; /*tout ce qui dépasse sera caché*/
        position: relative;
    }

    /*on change les tailles de certaine photos (rectangle/ carré etc*/
    .projet:nth-child(4n+1){ /*selectionne la 1ère vignette de chaque ligne : s'incrémente tous les 4+1*/ 
        grid-column: span 2;
    }

    .projet:nth-child(11n+1){ 
        grid-column: span 2;
    }

    /*on modifie la taille des images en ôtan l'aspect "ratio"*/
    .projet img{
        aspect-ratio: unset;
        height: 320px;
    }

    .projet:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--pink-color); /*on crée un écran rose sur la photo*/
        border-radius: 5px;
        opacity: 0; /*l'image devient rose*/
        transition: opacity 0.3s ease-in-out; /*l'image devient rose*/
    }

    .projet:hover:before{
        opacity: 0.7; /*on met une opacité à l'image de manière à ce qu'à chaque passage de la souris, celle-ci devienne rose translucide*/
    }

    .projet-nom{
        display:inline-block; /* pour que la div prenne juste la place du texte à l'intérieur*/
        position: absolute;
        z-index: 2; /*pour que le nom du projet ne soit pas caché par l'écran rose*/
        bottom: -20px; /* on cache le nom du projet*/
        left: 20px;
        font-weight: 700;
        color: #fff;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }


    /*on cible le projet nom*/
    .projet:hover > .projet-nom{
        opacity : 1;
        bottom: 20px; /*on remonte le nom du projet pour l'afficher lors du passage de la souris*/
    }
}
